<p>
  Trouver un poste de développeur ? Recruter un développeur ? Vous êtes au bon endroit pour ça.
<p>

<h2>Services pour les développeurs</h2>
<ul>
  <li>développeurs JavaScript : trouvez un poste par affinité technologique</li>
  <li>Angular, React, Node, Express, Mongo, Meteor : ciblez vos technos préférées ...</li>  
</ul>

<h2>Services pour les recruteurs</h2>
<ul>
  <li>Recruteurs : les spécialistes et experts Front, back et Fullsctack JavaScript sont ici</li>
  <li>Vous avez des atouts uniques pour séduire les développeurs : déposer une annonce qui fait la différence</li>
</ul>